/* universal selector, erases any default styling of elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets main background color*/
body {
    background-color: #d9dcd6;
}

/* styles header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* style for company name in heading */
header h1 {
    display: inline-block;
    font-size: 55px;
}

/* colors seo portion in company name in heading to be grey */
header h1 span {
    color: #9ba198;
}

/* positions and styles nav links in heading */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* removes bullet points from list in nav bar */
header nav ul {
    list-style-type: none;
}

/* positions links in nav par */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* sets color of link in nav bar and removes any link styling */
a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
}

/* styles p text */
p {
    font-size: 25px;
    line-height: 1.25;
}

/* class used to display main background image */
.background_image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* moves elements to the left side of a container */
.float-left {
    float: left;
    margin-right: 25px;
}

/* moves elements to the right side of its container */
.float-right {
    float: right;
    margin-left: 25px;
}

/* style for main info card section */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* style for the benefits information */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* styles spacing between each benefit information */
.benefit-section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* styles heading in benefit information section */
.benefit-section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* style for each image in benefit */
.benefit-section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* style for main page content */
.info-cards {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.info-cards img {
    max-height: 200px;
}

.info-cards h2 {
    margin-bottom: 20px;
    font-size: 45px;
}

/* styling for footer section */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
